.UserBlock- {
  &root {
    width: 100%;
    height: 56px;
    column-gap: 8px;
    display: grid;
    grid-template-columns: var(--avatarSize) 1fr 19px;
    align-items: center;
  }
  &wrap {
    display: grid;
    align-items: start;
    row-gap: 4px;
  }
  &fullname {
    font-weight: 600;
    overflow: hidden;
  }
  &image {
    width: var(--avatarSize);
    height: var(--avatarSize);
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
  }
  &link {
    font-size: 14px;
    color: #a2867c;
  }
  &icon {
    cursor: pointer;
    color: #ababab;
    transition: color 0.1s ease;
    &:hover {
      color: #484848;
    }
  }
}
