:root {
  --avatarSize: 56px;
  --borderRadius: 10px;
  --sectionWidth: 300px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    "Roboto", "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
span,
a {
  font-size: 16px;
  font-weight: 400;
}

p,
span {
  color: #000;
}

p {
  margin: 6px 0 0;
}

a {
  color: dodgerblue;
}
